.map{
  position: relative!important;
  height: 450px!important;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(35,35,35,.3);
  border: 2px solid #494949;
}

#map{
  height: 500px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 40px rgb(35, 35, 35);
}
